/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/images/
/web/media/

build
phpunit.xml
Resources/doc/_build/*
nbproject
.idea
coverage
composer.lock
composer.phar
.php_cs.cache
db.sqlite
